<h3>Questions</h3>

<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Date
				</th>
				<th>
					User
				</th>
				<th>
					Question
				</th>
			
			</tr>
		</thead>

		<tbody>
			<%= render @questions %>
	</tbody>
</table>