<div class="jumbotron">
	<h2>
		Welcome to the Stack Q/A App
	</h2>
	<p>
		Q/A app that allows for:
		<li>I should be able to register or sign up for the site to become a User</li>
		<li>As a User, I should be able to post questions</li>
		<li>As a User, I should also be able to post answers to questions posted by other Users</li>
		<li>Questions should be able to be tagged with labels to categorize them</li>
		<li>As a User, I should be able to filter questions by their tag</li>
		<li>As a User, I should be able to search all questions and answers for specific text</li>
		<li>Questions should be editable by the User who posted them</li> 
	</p>
</div>